h1 {
    color: rgb(12, 31, 116);
	font-size: 2.25em;
    font-family: Georgia, Times, serif;
	font-variant: small-caps;
}
h2 {
	color: rgb(122, 21, 38);
	font-family: Georgia, Times, serif;
	font-size: 1.5em;
}
body {
    background-image: url("https://i.pinimg.com/originals/12/0f/35/120f35959ff5cfbb1c2892b16f8fd8aa.jpg");
    background-size: 25rem;
    
}
.caja { 
    font-family: sans-serif,arial, verdana; 
    font-size: 0.8em; 
    font-weight: 400; 
    background:#dfdfb1c5 }
footer {
	font-family: sans-serif,courier, arial, verdana;
	font-size: .5em;
}
.color{
	color: rgb(7, 76, 179)
}		
.centered {
	text-align: center;
}
.justified {
	text-align: justify;
}
